.hentry {
   p {
      min-height: 1ch;
   }

   & > * + * {
      @apply mt-2.5;
   }

   :where(p, li) a:hover {
      @apply underline underline-offset-2;
   }

   h2 {
      @apply text-2xl font-semibold;
   }

   * + h2 {
      @apply mt-8;
   }

   ul,
   ol {
      @apply list-[square] list-inside;

      li {
         @apply my-1.5;
      }
   }

   ol {
      @apply list-decimal;
   }
}

body.page .hentry {
   code {
      @apply border-l-3 border-neutral-300 pl-3 py-1 text-neutral-300;
   }

   hr {
      @apply text-neutral-300 my-8 mx-auto max-w-66;
   }
}

body.single-print .hentry,
body.single-chapter .hentry {
   @apply text-lg leading-relaxed;

   blockquote {
      @apply border-l-3 border-current pl-6 py-1.5;
   }

   hr {
      @apply border-0 flex justify-center h-auto mt-8 mb-4.5 font-bold text-xl tracking-wider;
   }

   hr::before {
      content: '* * *';
   }
}

body.single-web .hentry {
   h2 {
      @apply uppercase;
   }

   code {
      @apply border-l-3 border-neutral-300 pl-3 py-1 text-neutral-300;
   }

   hr {
      @apply text-neutral-300 my-8 mx-auto max-w-66;
   }
}

body.single-chapter.single-format-standard .hentry {
   p:not(.has-text-align-left, .has-text-align-right, .has-text-align-center) {
      @apply text-justify;
   }

   > p:not(
         .has-text-align-left,
         .has-text-align-right,
         .has-text-align-center
      ) {
      @apply indent-7;
   }

   > p.has-drop-cap {
      @apply indent-0;
   }
}

body.single-chapter.single-format-aside .hentry {
   & > * + *:not(:last-of-type.has-text-align-right) {
      @apply mt-6;
   }
}

body.single-post .hentry {
   h2 {
      @apply text-neutral-100;
   }

   code {
      @apply rounded;
   }

   .wp-block-code {
      @apply relative;

      .code-copy {
         @apply absolute top-3 right-4;
      }
   }
}

.container-chapter {
   @apply min-w-xs max-w-xl mx-3 sm:mx-auto;
}
