body.post-type-archive-tool,
body.single-tool {
   h1 {
      @apply text-lg md:text-xl font-bold;
   }

   h2 {
      @apply text-lg font-semibold mb-2;
   }

   .input,
   .output {
      @apply border border-solid border-neutral-600 rounded-sm py-2.5 px-3.5;

      input,
      select {
         @apply outline-0;
      }
   }

   .output {
      @apply block whitespace-break-spaces font-mono bg-neutral-600 cursor-default;
   }

   p {
      @apply my-0.75;

      a {
         @apply border-b border-dotted border-neutral-500 dark:border-neutral-300;
      }
   }

   select.input {
      option {
         @apply bg-neutral-200 dark:bg-neutral-800;
      }

      optgroup {
         @apply bg-neutral-300 dark:bg-neutral-700;
      }
   }

   .btn,
   .btn-alt {
      @apply py-1.5 px-3 rounded-sm bg-blue-600 hover:bg-blue-500 shadow;
   }

   .btn-alt {
      @apply bg-neutral-700 hover:bg-neutral-600;
   }

   details {
      @apply my-2;

      summary {
         @apply cursor-pointer font-semibold;
      }
   }

   .subcat {
      @apply inline-flex mb-5 border border-neutral-600 rounded divide-x divide-solid divide-neutral-600 bg-neutral-300 text-neutral-700;

      li {
         @apply text-center;

         a {
            @apply block px-3 py-1;
         }
      }

      li .btn {
         @apply rounded-none;
      }

      li .btn:not(.active) {
         @apply bg-neutral-300;
      }
   }

   .google {
      font-family: Arial, sans-serif;
      max-width: 652px;
      background-color: #fff;
      padding: 1rem 2rem;
      color: #1f1f1f;
      border-radius: 0.5rem;
   }

   .facebook {
      font-family: Helvetica, Arial, sans-serif;
      max-width: 527px;
      background-color: #f2f3f5;
      color: #4b4f56;
      --color-inherent: #dadde1;
   }

   .linkedin {
      font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
         Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans',
         Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji',
         'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial,
         sans-serif;
      width: 100%;
      max-width: 694px;
      padding: 12px;
      border: 1px solid #dadde1;
      border-radius: 0.8rem;
      background-color: #fff;
      color: #1f1f1f;
      --color-inherent: #dadde1;
   }

   .flipseven-card {
      --x: -120px;
      --y: -188px;
      background-position-x: calc(var(--x) * var(--c, 0));
      background-position-y: calc(var(--y) * var(--r, 0));
      aspect-ratio: 65 / 102;
      background-size: 700%;
      background-image: url(https://cdn.altvers.net/sites/3/2025/10/flipseven.webp);
      @apply rounded-md size-full bg-no-repeat;
   }

   .flipseven-1,
   .flipseven-4,
   .flipseven-x2 {
      --c: 1;
   }

   .flipseven-10,
   .flipseven-5,
   .flipseven-\+10 {
      --c: 2;
   }

   .flipseven-11,
   .flipseven-6,
   .flipseven-\+2 {
      --c: 3;
   }

   .flipseven-12,
   .flipseven-7,
   .flipseven-\+4 {
      --c: 4;
   }

   .flipseven-2,
   .flipseven-8,
   .flipseven-\+6 {
      --c: 5;
   }

   .flipseven-\+8,
   .flipseven-second-chance,
   .flipseven-freeze {
      --c: 6;
   }

   .flipseven-3,
   .flipseven-4,
   .flipseven-5,
   .flipseven-6,
   .flipseven-7,
   .flipseven-8,
   .flipseven-second-chance {
      --r: 1;
   }

   .flipseven-9,
   .flipseven-\+10,
   .flipseven-\+2,
   .flipseven-\+4,
   .flipseven-\+6,
   .flipseven-freeze {
      --r: 2;
   }

   .flipseven-flip-three,
   .flipseven-x2 {
      --r: 3;
   }
}
